<center><h1>กิจกรรมภายในภาควิชา</h1></center>
<body>
    <div id=box1>
    <h2>Exceed Camp</h2>
    <center><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/exceed_section.jpg" width="50%"></center>
    <p><br>
        ค่ายทะลุฟ้า หรือ ค่ายพัฒนาซอฟต์แวร์ในสภาพการทำงานร่วมแบบเปิดกว้าง หรือ ค่าย eXceed มีวัตถุประสงค์เพื่อเป็นกิจกรรมหลักด้านการฝึกทักษะทั้งด้านวิชาการและสังคมให้แก่นิสิตของภาควิชา
        ค่ายทะลุฟ้าในแต่ละปีจะมีธีมประจำปีซึ่งเป็นธีมที่จะกำหนดโปรเจคของน้องๆ ในค่าย โดยในช่วงระยะเวลาค่ายพี่ๆ จะสอนพื้นฐานความรู้เบื้องต้นให้กับน้องๆ เพื่อนำไปใช้ในการทำโปรเจค
    </p>
    <a href="https://www.cpe.ku.ac.th/?page_id=1417" class="buttonD">รายละอียด</a>
    </div>
    <br>
    <div id=box2>
        <h2>Freshy Camp</h2>
    <center><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/freshy_section.jpg" width="50%"></center>
    <p><br>Freshy Camp หรือที่รู้จักในชื่อค่ายรับน้อง คือค่ายสำหรับนิสิตเฟรชชี่ภาคคอม โดยจุดประสงค์ของค่ายคือเพื่อให้เฟรชชี่แต่ละคนได้รู้จักกับเพื่อนใหม่และทำความรู้จักกับพี่ๆ ภาคคอมไปด้วยในเวลาเดียวกัน ระหว่างค่ายจะมีกิจกรรมหลายอย่างเช่น กิจกรรมสันทนาการจากพี่ๆ, กิจกรรมงานวัดจำลองที่น้องเฟรชชี่ได้สร้างซุ้มเกมของตัวเอง โดยหลังจากจบค่ายนี้แล้วน้องๆ จะได้รู้จักกับเพื่อนใหม่จากต่างโรงเรียนและได้สร้างความคุ้นเคยกับพี่ๆ ภาคคอมไปในเวลาเดียวกัน</p>
    <a href="https://www.cpe.ku.ac.th/?page_id=1407" class="buttonD">รายละอียด</a>
    </div>
    <br>
    <div id=box3>
        <h2>Toffy Camp</h2>
    <center><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/toffeecamp_section.jpg" width="50%"></center>
    <p><br>ค่ายเทคโนโลยีแห่งอนาคตเพื่อเยาวชนครั้งที่ 2 ได้จัดขึ้นเพื่ออบรมเยาวชนยุคใหม่ ให้เรียนรู้การ เขียนโปรแกรมโดยใช้ภาษา C# การต่อวงจรดิจิตอลเบื้องต้น การเขียน Android App Inventor อบรมให้ เยาวชนยุคใหม่ ก้าวทันเทคโนโลยีและสามารถนำเทคโนโลยีไปประยุกต์ใช้ในชีวิตประจ าวันได้ รวมทั้งเป็น การแนะแนวทางการศึกษาต่อทางด้านวิศวกรรมคอมพิวเตอร์อีกด้วย</p>
    <a href="https://www.cpe.ku.ac.th/?page_id=1407" class="buttonD">รายละอียด</a></div>
    <br>
    <div id=box4>
        <h2>SOS Camp</h2>
    <center><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/sos_section.jpg" width="50%"></center>
    <p><br>ค่ายนี้จัดขึ้นเพื่อเฟรชชี่ที่พึ่งเข้าใหม่ เพื่อเป็นการปูพื้นฐานการเขียนโปรแกรมก่อนที่จะเริ่มเรียนจริง ค่ายนี้จะช่วยให้น้องๆ มีชีวิตรอดจากวิชาเรียนต่างๆ ในภาคคอมได้ โดยค่ายนี้จะเน้นติววิชา OOP (Object-oriented programming) เป็นหลัก น้องๆ ที่เข้าร่วมค่ายนี้จะได้ความรู้และวิทยายุทธเพื่อให้น้องๆ สามารถอยู่รอดในยุทธจักรนี้ได้</p>
    <a href="https://www.cpe.ku.ac.th/?page_id=1400" class="buttonD">รายละอียด</a>
    </div>
    <br>
    <div id=box5>
        <h2>กิจกรรมทำบุญปีใหม่ภาควิชา</h2>
    <center><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/bud_section.jpg" width="50%"></center>
    <p></br>กิจกรรมทำบุญปีใหม่ภาควิชา เป็นกิจกรรมที่ภาควิชาวิศวกรรมคอมพิวเตอร์จัดขึ้นทุกปีเป็นประจำเพื่อความเป็นสิริมงคลแก่คณาจารย์ นิสิต และเจ้าหน้าที่ในวันขึ้นปีใหม่ของทุกๆ ปี</p>
    <a href="https://www.cpe.ku.ac.th/?page_id=1434" class="buttonD">รายละอียด</a>
    </div>
</body>