<head>
    <center><h1>กิจกรรม</h1></center>
</head>

<body>
    <center><div id=body>
        <p><a href="https://cpeweb-app-ammeter.c9users.io/static_pages/activityinside"><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/activity_02.jpg"></a></p>
        <br>
        <p><a href="https://cpeweb-app-ammeter.c9users.io/static_pages/meeting"><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/activity_04.jpg"></a></p>
        <br>
        <a href="https://cpeweb-app-ammeter.c9users.io/static_pages/charity"><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/activity_01_edit1.jpg"></a>
    </div></center>
</body>