<!DOCTYPE html>
<html>

<title>Admission</title>
<!--<link rel="stylesheet" href="admission.css">-->

<body>
    <div id="">
        Admission
    </div>
    <div>
        
    <img src="http://d251anpwg4t4cw.cloudfront.net/static/img/main/background/show_1-md.jpg">
   
    </div>
    <br>
    <a> โครงการรับตรง KU Admission          </a><a href="https://admission.ku.ac.th/adm/kuad/">เข้าระบบรับสมัคร</a>
     <br>
     <a>โควตาพิเศษ (มัธยมศึกษาในท้องถิ่น)          </a><a href="https://admission.ku.ac.th/adm/provinces/">เข้าระบบรับสมัคร</a>
     <br>
     <a>โควตานักกีฬา          </a><a href="https://admission.ku.ac.th/adm/sport/">เข้าระบบรับสมัคร</a>
     <br>
     <a>โควตาสาธิตเกษตร          </a><a href="https://admission.ku.ac.th/adm/kus/">เข้าระบบรับสมัคร</a>
     <br>
     <a>ข้อมูลการเข้าศึกษาต่อมหาวิทยาลัยเกษตรศาสตร์          </a><a href="https://admission.ku.ac.th/">คลิก</a>

</body>
</html>
