<center><h1>กิจกรรมสาธารณะประโยชน์</h1></center>
<body>
    <div id=box1>
    <h2>Barcamp Bangkhen</h2>
    <center><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/1.jpg" width="50%"></center>
    <p><br>
        Barcamp บาร์แคมป์ คือกิจกรรมสัมมนาเปิดกว้างสำหรับทุกคน ผู้เข้าร่วมงานทุกๆ คน มาร่วมพูดคุย แลกเปลี่ยน สร้างเครือข่าย เรียนรู้และทำงานร่วมกัน แม้ว่าบาร์แคมป์ส่วนใหญ่จะเป็นการรวมกลุ่มของผู้ที่สนใจด้านเทคโนโลยี แต่หัวข้อในการพูดคุยสนทนานั้นไม่มีขอบเขตจำกัด ผู้เข้าร่วมงานสามารถร่วมพูดคุยในหัวข้อใดๆ ก็ได้ โดยผู้เข้าร่วมงานทุกคนจะร่วมกันเลือกหัวข้อที่น่าสนใจ

Barcamp Bangkhen คือ Barcamp ที่จัดขึ้นโดยกลุ่มนิสิตคณะวิศวกรรมศาสตร์ ภาควิชาวิศวกรรมคอมพิวเตอร์ มหาวิทยาลัยเกษตรศาสตร์ เพื่อเป็นศูนย์กลางให้ผู้ที่สนใจเข้ามาร่วมแลกเปลี่ยนความคิดเห็นและประสบการณ์ในงานบาร์แคมป์


    </p>
    <a href="https://www.cpe.ku.ac.th/?page_id=1415" class="buttonD">รายละอียด</a>
    </div>
</body>