<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
    <p>
        <br>ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์
        <br>มหาวิทยาลัยเกษตรศาสตร์ (วิทยาเขตบางเขน)
        <br>เลขที่ 50 ถนนงามวงศ์วาน แขวงลาดยาว
        <br>เขตจตุจักร กรุงเทพ ฯ 10900
        <br>โทร. 0-2797-0999 ต่อ 1403-04 1450
    </p>