<center><h1>ความร่วมมือทางวิชาการและการประชุม</h1></center>
<body>
    <div id=box1>
    <h2>Connek</h2>
    <center><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/img_preview_connek.jpg" width="50%"></center>
    <p><br>
        ConneK (Connections of CU and KU Computer Engineering Students) เป็นโครงการสานสัมพันธ์ของนิสิตวิศวกรรมคอมพิวเตอร์ จุฬาลงกรณ์มหาวิทยาลัย – มหาวิทยาลัยเกษตรศาสตร์ ที่เปิดโอกาสให้นิสิตของทั้งสองมหาวิทยาลัยได้มาทำความรู้จักกัน ผ่านการทำกิจกรรมและการแข่งขันกีฬาร่วมกัน KonneC (เมื่อมหาวิทยาลัยเกษตรศาสตร์เป็นเจ้าภาพ) หรือ ConneK (เมื่อจุฬาลงกรณ์มหาวิทยาลัยเป็นเจ้าภาพ) จัดขึ้นครั้งแรกเมื่อปี พ.ศ.2553 โดยในครั้งแรก จุฬาลงกรณ์มหาวิทยาลัย เป็นเจ้าภาพจัดโครงการ ตั้งแต่ครั้งนั้น ทั้งสอง มหาวิทยาลัยก็สลับกันเป็นเจ้าภาพมาโดยตลอด

บน้องๆ เพื่อนำไปใช้ในการทำโปรเจค
    </p>
    <a href="https://www.cpe.ku.ac.th/?page_id=1309" class="buttonD">รายละอียด</a>
    </div>
</body>