<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
</style>
</head>
<body>
<h1>Tuition Fee and Scholarships</h1>
<h2 style = " text-align: left">International Undergraduate Program (IUP) Fees</h2>
<p>Semester Fees</p>

<table>
  <tr>
    <th>Semester Fees</th>
    <th>Thai Baht/semester</th>

  </tr>
  <tr>
    <td>Tuition Fee (flat rate)</td>
    <td>56,000</td>

  </tr>
  <tr>
    <td>University Support Fee</td>
    <td>4,700</td>

  </tr>

  <tr>
    <th>Total</th>
    <th>60,700</th>

  </tr>
</table>
<p><br>Summer Fees</br></p>

<table>
  <tr>
    <th>Summer Fees</th>
    <th>Thai Baht/semester</th>

  </tr>
  <tr>
    <td>Tuition Fee (flat rate)</td>
    <td>21,000</td>

  </tr>
  <tr>
    <td>University Support Fee</td>
    <td>2,000</td>

  </tr>

  <tr>
    <th>Total</th>
    <th>23,000</th>

  </tr>
</table>

<h2 style = " text-align: left"><br>Scholarships</br></h2>
<p>1. Excellent Student Scholarships</p>
<p>2. Internship Abroad Scholarships</p>
<p>3. Student Exchange Scholarships
<p>4. AEC Student Exchange Scholarships</p>
<p>5. Scholarships from our partners e.g., <a href="triumph">Triumph Motorcycles, Thailand</a> (<a href="http://www.triumphmotorcycles.com/">http://www.triumphmotorcycles.com</a>)</p>
<p>More Information (iup@ku.ac.th)</p>



</body>
</html>
