<% provide(:title, 'Footer') %>
<footer class="footer">

<p>
About us Ms.Vittunyuta Maeprasark,Ms.Kwankaew Uttama,Ms.Jiranan Patrathamakul,
Ms.Pannapat Panpakdee,Ms.Pimwalun Witchawanitchanun.
</p>
<nav>
<ul>

<li>Follow us 02-797-0999 x 1403</li>
    <a href="https://www.facebook.com/KasetsartCPE" rel="nofollow">
        <img src="https://www.cpe.ku.ac.th/wp-content/themes/academica_pro/images/social/facebook_small.png" width="16" height="16" alt="">
    </a>
    <a href="http://www.youtube.com/user/admissionengku" rel="nofollow">
        <img src="https://www.cpe.ku.ac.th/wp-content/themes/academica_pro/images/social/youtube_small.png" width="16" height="16" alt="">
    </a>


</ul>
</nav>
</footer>